<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
   crossorigin="anonymous">
   
   
</head>
<!-- <div class="four wide column center aligned votes">

      <div class="ui statistic">
        <div class="value">{{ votes }}</div>

        <div class="label">Points</div>
        </div>
  </div>

    <div class="twelve wide column">
       <a class="ui large header" href="{{ link }}"> {{ title }}</a>
       <ul class="ui big horizontal list voters">
          <li class="item">

      <a href (click)="voteUp()">
        <i class="arrow up icon"></i>upvote
      </a>
      </li>

    <li class="item">
    <a href (click)="voteDown()">
    <i class="arrow down icon"></i>
    downvote
    </a>
  </li>
</ul>
</div> -->


 <div class="container" >
<div class="row">
  <div class="col-4 mycolor" >
    <div >
      <h3 >POINTS</h3>
      <h4 style="text-align: center"  >{{parentvalue.votes}}</h4>
      
    </div>
  </div>

  <div class="col">
    <h4>{{parentvalue.title}}</h4>
    <a href>{{parentvalue.link}}</a>
    

  </div>

</div>
  <div class="row">
    <div class="col-4 mycolor">
    </div>

    <div class="col">
        <div class="row">
            <div class="col"><li  type="none"> <i class="fa fa-arrow-circle-up" 
             (click)="myvoteUp()" style="font-size:24px"></i>Upvote</li></div>
            <div class="col"><li type="none"><i class="fa fa-arrow-circle-down" (click)="myvoteDown()" style="font-size:24px"></i>Downvote</li></div>
        </div>
        
      
      </div>

  </div>

</div> 
<br>
 
